= simple_form_for diary do |f|
  = f.error_notification
  - if diary.errors[:base].any?
    .alert.alert-danger
      - diary.errors[:base].each do |msg|
        %p= msg
  - if local_assigns[:geolocation]
    %input{ type: "hidden", name: "latitude", data: { geolocation_target: "latitude" } }
    %input{ type: "hidden", name: "longitude", data: { geolocation_target: "longitude" } }
  .vstack.gap-3
    .mb-3
      %label.form-label 日付
      %p.form-control-plaintext= l(diary.recorded_on || Date.current, format: :default)
    = f.input :title
    = f.input :body, as: :text, input_html: { rows: 8 }
    = f.input :mood, as: :select, collection: (1..5).map { |i| [i, i] }, include_blank: false
    = f.button :submit, "保存", class: "btn btn-primary"
